<li id="post-<%=post._id%>">
   <p>
      <%=post.content%>

      <%if(locals.user && (locals.user.id==post.user.id)){%>
      <small>

         <a class="delete-post-button" href="/posts/destory/<%= post.id %>">Delete</a>
      </small>
      <%}%>
       <br>
       &emsp;&emsp;<small> <%=post.user.name%></small>

   </p>

   <div id="comment">

      <form id="post-<%= post._id %>-comments-form" action="/comment/create" method="POST" >
         <input type="text" name="content" placeholder="Write comment" required>
         <input type="hidden" name="postId" value="<%=post._id%>">

         <button type="submit" name="submit-comment">Comment</button>
      </form>


   </div>

   <div class="post-comments-list">
      <ul id="post-comments-<%post._id%>">
         <%for(var c of post.comments){%>
         <%- include('_comments',{c:c})%>
         <%}%>
       </ul>
    </div>
 </li>

 