<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">


    <%-style%>

    
    <script src="https://kit.fontawesome.com/3671c8b17f.js" crossorigin="anonymous"></script>

    
    <title>
        <%= title %>
    </title>
</head>
<body>
     
<%- include('_header') %>

<%if(flash.success && flash.success.length>0){%>
<h5>
    <%=locals.flash.success%>

</h5>

<%}%>
<div id="container">
    <h4> Welcome to codieal</h4>


    <%- body %>

</div>
    

    
<%- include('_footer') %>
</body>
</html>